<h1> Welcome to the <%= @league.league_name %> home page </h1>

List of all teams in this league:
<br>
<% @league.teams.each do |team| %>
  <%= link_to team.team_name, team_path(team)  %> <br>
<% end %>

<%= link_to "create a new team", new_team_path %> <br>
<%= link_to "Return to view all leagues", sport_path(@league.sport) %>
